

{% extends "base.html" %}

{% block head %}
<title>Examiner Registration</title>
<link rel="stylesheet" type="text/css" href="../static/css/registration.css">
{% endblock %}

{% block navlinks %}
<a href="#footer" class="navlink">Contact</a>
<a href="#col-4" class="navlink">About</a>
<a href="#help" class="navlink">Help</a>
<a href="#col-1" class="navlink">Home</a>
{% endblock %}

{% block content %}
<div id="reg-form">
    <h1><span style="color: green;">Register here to conduct CATT tests</span></h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et dolor at augue consectetur fermentum vitae sit amet lorem.
        Etiam sit amet risus ac dui auctor consequat. Phasellus maximus consequat mollis. Nunc ut tortor odio. Nunc sed nulla lorem. 
        Aenean facilisis porttitor lorem ut interdum. Integer laoreet felis laoreet, luctus nisl non, porttitor diam. Ut ut lobortis turpis. 
        Duis vitae consectetur sem, in euismod massa. Curabitur vitae lorem iaculis, placerat augue in, bibendum sem. Aliquam vestibulum lorem eu magna semper tristique.
    </p>
    <br><br>
    <form action="/examiner-registration/add-examiner" method="POST">
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username" required><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" required><br>
        <label for="passwordre">Retype Password</label><br>
        <input type="password" name="passwordre" id="passwordre"><br><br>
        <label for="first_name">First Name</label><br>
        <input type="text" name="first_name" id="first_name" required><br>
        <label for="last_name">Last Name</label ><br>
        <input type="text" name="last_name" id="last_name" required><br><br>
        <label for="subject">Subject</label><br>
        <select name="subject" id="Subject">
            <option value="Mathematics">Mathematics</option>
            <option value="Physics">Physics</option>
            <option value="Chemistry">Chemistry</option>
            <option value="Zoology">Zoology</option>
            <option value="Botony">Botony</option>
            <option value="Computer Science">Computer Science</option>
        </select><br>
        <label for="school">School</label><br>
        <input type="text" name="school" id="school"><br><br>
        <input type="submit" value="Register" class="button-green">
    </form>
</div>
{% endblock %}